#HTML_157 {
    border-bottom-color: rgb(51, 51, 51);
    border-left-color: rgb(51, 51, 51);
    border-right-color: rgb(51, 51, 51);
    border-top-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 1980px;
    outline-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-decoration-color: rgb(51, 51, 51);
    width: 644px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 322px 990px;
    transform-origin: 322px 990px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    font: normal normal normal normal 16px / normal "Acumin Pro", sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#HTML_157*/

#BODY_1 {
    border-bottom-color: rgb(51, 51, 51);
    border-left-color: rgb(51, 51, 51);
    border-right-color: rgb(51, 51, 51);
    border-top-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 1980px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(51, 51, 51);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(51, 51, 51);
    text-decoration-style: rgb(51, 51, 51);
    width: 644px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 322px 990px;
    transform-origin: 322px 990px;
    border-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    border-top: 0px none rgb(51, 51, 51);
    border-right: 0px none rgb(51, 51, 51);
    border-bottom: 0px none rgb(51, 51, 51);
    border-left: 0px none rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#BODY_1*/

#DIV_2 {
    background-color: rgb(63, 149, 234);
    background-image: url("file:///C:/wamp/www/timeline/images/brush-section-baf12892.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 1920px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 614px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 322px 990px;
    transform-origin: 322px 990px;
    caret-color: rgb(255, 255, 255);
    background: rgb(63, 149, 234) url("file:///C:/wamp/www/timeline/images/brush-section-baf12892.svg") no-repeat scroll 0% 0% / cover padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 30px 15px;
}/*#DIV_2*/

#DIV_3 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 1880px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 30px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 614px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 307px 955px;
    transform-origin: 307px 955px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 30px;
}/*#DIV_3*/

#H3_4 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
    font-size: 28px;
    font-weight: normal;
    height: 35px;
    line-height: 35.28px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    width: 614px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 307px 32.5px;
    transform-origin: 307px 32.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 28px / 35.28px Poppins, sans-serif;
    margin: 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 30px;
}/*#H3_4*/

#DIV_5 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 1795px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 614px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 307px 897.5px;
    transform-origin: 307px 897.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_5*/

#DIV_5:after {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    clear: both;
    color: rgb(255, 255, 255);
    
    display: table;
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_5:after*/

#DIV_6, #DIV_85 {
    background-color: rgba(0, 0, 0, 0.17);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 604px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-left: 137px;
    margin-right: 137px;
    margin-top: 20px;
    max-width: 310px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 170px 322px;
    transform-origin: 170px 322px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.17) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    margin: 20px 137px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 30px 15px 10px;
}/*#DIV_6, #DIV_85*/

#DIV_6:after, #DIV_85:after {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    clear: both;
    color: rgb(255, 255, 255);
  
    display: table;
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_6:after, #DIV_85:after*/

#DIV_7, #DIV_86 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 130px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 155px 70px;
    transform-origin: 155px 70px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 10px;
}/*#DIV_7, #DIV_86*/

#DIV_8, #DIV_87 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 90px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 155px 50px;
    transform-origin: 155px 50px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 10px;
}/*#DIV_8, #DIV_87*/

#IMG_9, #IMG_88 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 90px;
    line-height: 24px;
    max-width: 100%;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    vertical-align: middle;
    width: 80px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 40px 45px;
    transform-origin: 40px 45px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_9, #IMG_88*/

#P_10 {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 50.8281px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50.4063px 15px;
    transform-origin: 50.4063px 15px;
    caret-color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 15px 15px 15px 15px;
    font: normal normal 600 normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 25px;
}/*#P_10*/

#SECTION_11, #SECTION_90 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 204px;
    left: 0px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 0px;
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 155px 212px;
    transform-origin: 155px 212px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SECTION_11, #SECTION_90*/

#SECTION_11:before, #SECTION_90:before {
    background-color: rgba(174, 117, 201, 0.4);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    bottom: 0px;
    color: rgb(255, 255, 255);
  
    display: block;
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 404px;
    left: 65px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    position: absolute;
    right: 244px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 20px;
    width: 1px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 0.5px 202px;
    transform-origin: 0.5px 202px;
    caret-color: rgb(255, 255, 255);
    background: rgba(174, 117, 201, 0.4) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SECTION_11:before, #SECTION_90:before*/

#DIV_12, #DIV_18, #DIV_24, #DIV_30, #DIV_36, #DIV_42, #DIV_48, #DIV_54, #DIV_60, #DIV_66, #DIV_72, #DIV_91, #DIV_97, #DIV_103, #DIV_109, #DIV_115, #DIV_121, #DIV_127, #DIV_133, #DIV_139, #DIV_145, #DIV_151 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    bottom: 0px;
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 24px;
    left: 0px;
    line-height: 24px;
    margin-bottom: 16px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 0px;
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 155px 12px;
    transform-origin: 155px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_12, #DIV_18, #DIV_24, #DIV_30, #DIV_36, #DIV_42, #DIV_48, #DIV_54, #DIV_60, #DIV_66, #DIV_72, #DIV_91, #DIV_97, #DIV_103, #DIV_109, #DIV_115, #DIV_121, #DIV_127, #DIV_133, #DIV_139, #DIV_145, #DIV_151*/

#DIV_12:before, #DIV_18:before, #DIV_24:before, #DIV_30:before, #DIV_36:before, #DIV_42:before, #DIV_48:before, #DIV_54:before, #DIV_60:before, #DIV_66:before, #DIV_72:before, #DIV_91:before, #DIV_97:before, #DIV_103:before, #DIV_109:before, #DIV_115:before, #DIV_121:before, #DIV_127:before, #DIV_133:before, #DIV_139:before, #DIV_145:before, #DIV_151:before {
    background-color: rgb(174, 117, 202);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    bottom: -1px;
    color: rgb(255, 255, 255);
  
    display: block;
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 5px;
    left: 63px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    position: absolute;
    right: 242px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 20px;
    width: 5px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 2.5px 2.5px;
    transform-origin: 2.5px 2.5px;
    caret-color: rgb(255, 255, 255);
    background: rgb(174, 117, 202) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_12:before, #DIV_18:before, #DIV_24:before, #DIV_30:before, #DIV_36:before, #DIV_42:before, #DIV_48:before, #DIV_54:before, #DIV_60:before, #DIV_66:before, #DIV_72:before, #DIV_91:before, #DIV_97:before, #DIV_103:before, #DIV_109:before, #DIV_115:before, #DIV_121:before, #DIV_127:before, #DIV_133:before, #DIV_139:before, #DIV_145:before, #DIV_151:before*/

#P_13, #P_19, #P_25, #P_31, #P_43, #P_49, #P_55, #P_61, #P_67, #P_73, #P_92, #P_98, #P_104, #P_110, #P_116, #P_122, #P_128, #P_134, #P_140, #P_146, #P_152 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    bottom: -10px;
    color: rgb(255, 255, 255);
    float: left;
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    height: 24px;
    left: 0px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-right: 25px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 10px;
    width: 35.8125px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 17.9063px 12px;
    transform-origin: 17.9063px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px 25px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#P_13, #P_19, #P_25, #P_31, #P_43, #P_49, #P_55, #P_61, #P_67, #P_73, #P_92, #P_98, #P_104, #P_110, #P_116, #P_122, #P_128, #P_134, #P_140, #P_146, #P_152*/

#STRONG_14, #STRONG_20, #STRONG_26, #STRONG_32, #STRONG_38, #STRONG_44, #STRONG_50, #STRONG_56, #STRONG_62, #STRONG_68, #STRONG_74, #STRONG_93, #STRONG_99, #STRONG_105, #STRONG_111, #STRONG_117, #STRONG_123, #STRONG_129, #STRONG_135, #STRONG_141, #STRONG_147, #STRONG_153 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal bold normal 14px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#STRONG_14, #STRONG_20, #STRONG_26, #STRONG_32, #STRONG_38, #STRONG_44, #STRONG_50, #STRONG_56, #STRONG_62, #STRONG_68, #STRONG_74, #STRONG_93, #STRONG_99, #STRONG_105, #STRONG_111, #STRONG_117, #STRONG_123, #STRONG_129, #STRONG_135, #STRONG_141, #STRONG_147, #STRONG_153*/

#DIV_15, #DIV_21, #DIV_27, #DIV_33, #DIV_45, #DIV_51, #DIV_57, #DIV_63, #DIV_69, #DIV_75, #DIV_94, #DIV_100, #DIV_106, #DIV_112, #DIV_118, #DIV_124, #DIV_130, #DIV_136, #DIV_142, #DIV_148, #DIV_154 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    bottom: -10px;
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 24px;
    left: 0px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 10px;
    width: 249.188px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 124.594px 12px;
    transform-origin: 124.594px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#DIV_15, #DIV_21, #DIV_27, #DIV_33, #DIV_45, #DIV_51, #DIV_57, #DIV_63, #DIV_69, #DIV_75, #DIV_94, #DIV_100, #DIV_106, #DIV_112, #DIV_118, #DIV_124, #DIV_130, #DIV_136, #DIV_142, #DIV_148, #DIV_154*/

#DIV_16, #DIV_22, #DIV_28, #DIV_34, #DIV_46, #DIV_52, #DIV_58, #DIV_64, #DIV_70, #DIV_76, #DIV_95, #DIV_101, #DIV_107, #DIV_113, #DIV_119, #DIV_125, #DIV_131, #DIV_137, #DIV_143, #DIV_149, #DIV_155 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 229.188px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 124.594px 12px;
    transform-origin: 124.594px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#DIV_16, #DIV_22, #DIV_28, #DIV_34, #DIV_46, #DIV_52, #DIV_58, #DIV_64, #DIV_70, #DIV_76, #DIV_95, #DIV_101, #DIV_107, #DIV_113, #DIV_119, #DIV_125, #DIV_131, #DIV_137, #DIV_143, #DIV_149, #DIV_155*/

#DIV_16:before, #DIV_22:before, #DIV_28:before, #DIV_34:before, #DIV_46:before, #DIV_52:before, #DIV_58:before, #DIV_64:before, #DIV_70:before, #DIV_76:before, #DIV_95:before, #DIV_101:before, #DIV_107:before, #DIV_113:before, #DIV_119:before, #DIV_125:before, #DIV_131:before, #DIV_137:before, #DIV_143:before, #DIV_149:before, #DIV_155:before {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    bottom: 24px;
    color: rgb(255, 255, 255);
   
    display: block;
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    left: 65px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    position: absolute;
    right: 184.188px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 0px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_16:before, #DIV_22:before, #DIV_28:before, #DIV_34:before, #DIV_46:before, #DIV_52:before, #DIV_58:before, #DIV_64:before, #DIV_70:before, #DIV_76:before, #DIV_95:before, #DIV_101:before, #DIV_107:before, #DIV_113:before, #DIV_119:before, #DIV_125:before, #DIV_131:before, #DIV_137:before, #DIV_143:before, #DIV_149:before, #DIV_155:before*/

#P_17, #P_23, #P_35, #P_47, #P_59, #P_71, #P_96, #P_108, #P_120, #P_132, #P_144, #P_156 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 229.188px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 114.594px 12px;
    transform-origin: 114.594px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_17, #P_23, #P_35, #P_47, #P_59, #P_71, #P_96, #P_108, #P_120, #P_132, #P_144, #P_156*/

#P_29, #P_53, #P_77, #P_102, #P_126, #P_150 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 229.188px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 114.594px 12px;
    transform-origin: 114.594px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_29, #P_53, #P_77, #P_102, #P_126, #P_150*/

#P_37 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    bottom: -10px;
    color: rgb(255, 255, 255);
    float: left;
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    height: 24px;
    left: 0px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-right: 25px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 10px;
    width: 35.0469px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 17.5156px 12px;
    transform-origin: 17.5156px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px 25px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#P_37*/

#DIV_39 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    bottom: -10px;
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 24px;
    left: 0px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 10px;
    width: 249.953px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 124.969px 12px;
    transform-origin: 124.969px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
}/*#DIV_39*/

#DIV_40 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 229.953px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 124.969px 12px;
    transform-origin: 124.969px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 10px;
}/*#DIV_40*/

#DIV_40:before {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    bottom: 24px;
    color: rgb(255, 255, 255);
   
    display: block;
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    left: 65px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    position: absolute;
    right: 184.953px;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    top: 0px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_40:before*/

#P_41 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 229.953px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 114.969px 12px;
    transform-origin: 114.969px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_41*/

#P_65, #P_114 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 229.188px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 114.594px 12px;
    transform-origin: 114.594px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_65, #P_114*/

#DIV_78 {
    background-color: rgba(0, 0, 0, 0.17);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 407px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-left: 137px;
    margin-right: 137px;
    margin-top: 20px;
    max-width: 310px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 170px 223.5px;
    transform-origin: 170px 223.5px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.17) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    margin: 20px 137px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 30px 15px 10px;
}/*#DIV_78*/

#DIV_78:after {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    clear: both;
    color: rgb(255, 255, 255);
   
    display: table;
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_78:after*/

#DIV_79 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 40px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 155px 25px;
    transform-origin: 155px 25px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 10px;
}/*#DIV_79*/

#DIV_80 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 155px 5px;
    transform-origin: 155px 5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 10px;
}/*#DIV_80*/

#P_81 {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 99.2813px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 74.6406px 15px;
    transform-origin: 74.6406px 15px;
    caret-color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 15px 15px 15px 15px;
    font: normal normal 600 normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 25px;
}/*#P_81*/

#DIV_82 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 327px;
    line-height: 24px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 155px 178.5px;
    transform-origin: 155px 178.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 20px 0px 10px;
}/*#DIV_82*/

#IMG_83 {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    height: 232.5px;
    line-height: 24px;
    max-width: 100%;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    vertical-align: middle;
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 155px 116.25px;
    transform-origin: 155px 116.25px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 100% 100% 100% 100%;
    font: normal normal normal normal 16px / 24px "Acumin Pro", sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#IMG_83*/

#P_84 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 310px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 155px 37px;
    transform-origin: 155px 37px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 20px 0px 30px;
}/*#P_84*/

#P_89 {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 75.4688px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 62.7344px 15px;
    transform-origin: 62.7344px 15px;
    caret-color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 15px 15px 15px 15px;
    font: normal normal 600 normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 3px 25px;
}/*#P_89*/

#P_138 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-family: "Acumin Pro", sans-serif;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
    width: 229.188px;
    word-spacing: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 114.594px 12px;
    transform-origin: 114.594px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal normal normal 14px / 24px "Acumin Pro", sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_138*/